* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  background-color: #111016;
}

.colorLevel {
  background-color: #f9ca66 !important;
  border: none !important;
}

.container {
  max-width: 50rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.container h1 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding: 3rem 0 1rem 0;
  color: gray;
}
.container p {
  text-align: center;
}

.card {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /*****Chrome *****/
  /***** Firefox *****/
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a white border */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.card__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24232b;
  padding: 0.8rem 1rem;
}
.card__password {
  font-size: 1.4rem;
  color: white;
}
.card__iconCopy {
  height: 1.5rem;
}
.card__iconCopy:hover {
  cursor: pointer;
}
.card__form {
  width: 100%;
  background-color: #24232b;
  color: white;
}
.card__passwordLenghtSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.card__passwordLenght {
  font-size: 1.5rem;
  color: #a4ffaf;
}
.card__sliderContainer {
  padding: 0.5rem 1rem;
}
.card__slider {
  width: 100%;
  outline: none;
}
.card input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s linear;
}
.card input[type=range]::-webkit-slider-runnable-track {
  background: rgb(198, 198, 198);
  height: 0.5rem;
}
.card input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 5rem; /*Removes default border-radius that FF applies*/
  transition: all 0.3s ease-in-out;
  margin-top: -8px; /* Centers thumb on the track */
  background-color: #a8fab3;
  height: 1.5rem;
  width: 1.5rem;
}
.card input[type=range]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 5rem; /*Removes default border-radius that FF applies*/
  background-color: white;
  height: 1.5rem;
  width: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.card input[type=range]::-moz-range-progress {
  background-color: #a4ffaf;
  height: 0.5rem;
}
.card input[type=range]::-moz-range-track {
  background: black;
  height: 0.5rem;
}
.card__checkboxes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: center;
}
.card .checkboxContainer {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 2.2rem;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card .checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.card .checkmark {
  border: solid 2px white;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3rem;
  width: 1.3rem;
  background-color: transparent;
}
.card .checkboxContainer:hover input ~ .checkmark {
  cursor: pointer;
}
.card .checkboxContainer input:checked ~ .checkmark {
  background-color: #a4ffaf;
  border: transparent;
}
.card .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.card .checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}
.card .checkboxContainer .checkmark:after {
  left: 6.5px;
  top: 3.4px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.card__strenghtContainer {
  padding: 0.5rem 1rem;
}
.card__strenghtBackground {
  padding: 1rem;
  background-color: #18171f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__strenghtLabel {
  color: rgba(128, 128, 128, 0.8);
  font-size: 0.9rem;
}
.card__strengtColorsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card__strenghtSquareContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.card__squareSecurityLevel {
  width: 0.6rem;
  height: 1.5rem;
  background-color: transparent;
  border: solid 2px white;
}
.card__btnContainer {
  padding: 0.5rem 1rem;
  display: flex;
  margin-bottom: 0.5rem;
}
.card__btn {
  width: 100%;
  padding: 1rem;
  border: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  justify-content: center;
  color: black;
  background-color: #a4ffaf;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.card__btn:hover {
  color: #a4ffaf;
  background-color: transparent;
  border: 2px solid #a4ffaf;
  cursor: pointer;
}
.card .arrowIcon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-bottom: -0.15rem;
  margin-left: -0.1rem;
}

/*# sourceMappingURL=styles.css.map */
